<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1 width=device-width">
        <title>Carto</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body ng-app="carto" ng-controller="PageCtrl">
        <div class="container">
            <div class="menu">
                <label for="selectLayer">Layer : </label>
                <select name="selectLayer" ng-model="currentLayer" ng-change="close()">
                    <option ng-repeat="layer in layers">{{layer.name}}</option>
                </select>
                <button name="button" ng-click="changeSource()">Change</button>
            </div>

            <div class="content" id="content">
                <button class="closeButton" name="button" ng-click="close()">X</button>
                <div id="content-container">

                </div>
            </div>

            <stratis-carto class='max' width-markers="20" height-markers="30" icon-markers="img/mapMarker.png">
                <stratis-marker-layer layer-name="{{layer.name}}" ng-repeat="layer in layers"
                                      icon-markers="{{layer.icon}}"
                                      width-markers="{{layer.width}}">

                    <stratis-marker ng-repeat="marker in layer.markers"
                                    longitude="marker.longitude" latitude="marker.latitude" on-click="onClick"
                                    datas="marker" selectable="true">
                    </stratis-marker>

                </stratis-marker-layer>

            </stratis-carto>


        </div>
        <script src="lib/angular/angular.js"></script>
        <script src="lib/openlayers/lib/OpenLayers.js"></script>
        <script src="js/carto.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
    </body>
</html>